#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-container {
    outline: 1px solid blue;
    max-width: calc(100vw);
    margin-top: 2em;
    margin-right: 5em;
    margin-left: 5em;
}
