#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-container {
    max-width: calc(100vw);
    margin-top: 2em;
    margin-right: 12em;
    margin-left: 12em;
}
