.product-container {
    outline: 1px solid gray;
    border-radius: 5px;
    display: flex;
}

.product-image {
    min-width: 15rem;
    min-height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-image > img {
    max-width: 10rem;
    max-height: 12rem;
    height: inherit;
    width: inherit;
    object-fit: scale-down;
}

.product-information {
    padding: 1em;
}

.product-price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #103003;
}

.free-shipping {
    display: flex;
    align-items: baseline;
}

.free-shipping p:nth-of-type(2) {
    padding-left: 0.5em;
}
