nav {
    background-color: var(--navBar-color);
    padding: 0.5rem;
    height: 3.5em;
    width: 100vw;

    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    gap: 1em;
}

.nav-links {
    display: flex;
    gap: 1em;
}

.nav-container > h2 {
    margin: 0;
    padding: 0;
    user-select: none;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.nav-links div:nth-child(2) {
    padding-right: 1rem;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#search-container > form {
    display: flex;
    flex: 1;
    justify-content: center;
}

div form input[type="search"] {
    flex: 1;
    max-width: 60rem;
    padding-left: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 1rem;
    position: relative;
}

#search-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

@media (width < 650px ) {
    #search-container {
        display: none;
    }
}


@media (width < 381px ) {
    #about-button {
        display: none;
    }
}
